<!-- inside app/views/welcome/index.html.erb -->  
<div class="row cabeza">
  <div class="col-md-4 logo-cuernos">
    <h1>h</h1>
  </div>
  <div class="col-bg-8 cuernos">
    <h1>Cuernos Largos</h1>
    <h4>de Aguascalientes A. C.</h4>
  </div>
</div>


<nav class="navbar navbar-expand-lg ms-auto navLonghorn">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cuernos Largos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Contactos</a></li>
            <li><a class="dropdown-item" href="#">Jugadores</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Familias</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav> 


<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">En construcción</h1>
        <p class="lead text-muted">Sitio web / applicación en construcción</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Botón inútil</a>
          <a href="#" class="btn btn-secondary my-2">Botón Inútil secundario</a>
        </p>
      </div>
    </div>
  </section>
</main>
